.user-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid grey
}
.email{
    color:blue;
}
.mobile{
    color:chocolate;
}
.dates{
    color:skyblue;
}
.location{
    color: red;
}
.gender{
    color: yellowgreen
}